.Rproj.user
.Rhistory
.RData
.Ruserdata

data_in/**/**.txt
data_in/**/**.rds
data_in/**/**.json

data_out/**/**.rds

results/**/**.rds
results/**/**.pdf
results/**/**.png

report/**/**.pdf
report/**/**.png




**/.DS_Store

/.luarc.json
